.DS_Store
./elpa
./auto-save-list
./ido.last
./recentf
./smex-items
./.cache
./.emacs.desktop
./.emacs.desktop.lock
./.org-id-locations
./bookmarks
./company-statistics-cache.el
./custom.el
./elpa/
./emacs.el
./ido.last
./places
./projectile-bookmarks.eld
./projectile.cache
./recentf
./smex-items
