[submodule "localelpa/angularjs-mode"]
	path = localelpa/angularjs-mode
	url = git@github.com:rudolfolah/angularjs-mode.git
[submodule "localelpa/snails"]
	path = localelpa/snails
	url = git@github.com:manateelazycat/snails.git
[submodule "localelpa/fuz.el"]
	path = localelpa/fuz.el
	url = git@github.com:cireu/fuz.el.git
[submodule "localelpa/aweshell"]
	path = localelpa/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "localelpa/nox"]
	path = localelpa/nox
	url = git@github.com:manateelazycat/nox.git
[submodule "localelpa/counsel-mu"]
	path = localelpa/counsel-mu
	url = git@github.com:seanfarley/counsel-mu.git
[submodule "localelpa/mu4e-patch"]
	path = localelpa/mu4e-patch
	url = git@github.com:seanfarley/mu4e-patch.git
[submodule "localelpa/mu4e"]
	path = localelpa/mu4e
	url = git@github.com:emacsmirror/mu4e.git
[submodule "localelpa/xwwp"]
	path = localelpa/xwwp
	url = git@github.com:BlueFlo0d/xwwp.git
[submodule "localelpa/awesome-tray"]
	path = localelpa/awesome-tray
	url = git@github.com:manateelazycat/awesome-tray.git
[submodule "localelpa/company-lsp"]
	path = localelpa/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule "localelpa/company-tern"]
	path = localelpa/company-tern
	url = git@github.com:kevinushey/company-tern.git
[submodule "localelpa/cache-path-from-shell"]
	path = localelpa/cache-path-from-shell
	url = git@github.com:manateelazycat/cache-path-from-shell.git
[submodule "localelpa/color-rg"]
	path = localelpa/color-rg
	url = git@github.com:manateelazycat/color-rg.git
[submodule "localelpa/company-english-helper"]
	path = localelpa/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "localelpa/lsp-bridge"]
	path = localelpa/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "localelpa/markdown-mode-plus"]
	path = localelpa/markdown-mode-plus
	url = git@github.com:milkypostman/markdown-mode-plus.git
[submodule "localelpa/org-spacer.el"]
	path = localelpa/org-spacer.el
	url = git@github.com:dustinlacewell/org-spacer.el.git
[submodule "localelpa/org-ol-tree"]
	path = localelpa/org-ol-tree
	url = git@github.com:Townk/org-ol-tree.git
[submodule "localelpa/separate-inline.el"]
	path = localelpa/separate-inline.el
	url = git@github.com:ingtshan/separate-inline.el.git
[submodule "localelpa/fixed-pitch-mode"]
	path = localelpa/fixed-pitch-mode
	url = git@github.com:cstby/fixed-pitch-mode.git
[submodule "localelpa/dired-hacks"]
	path = localelpa/dired-hacks
	url = git@github.com:Fuco1/dired-hacks.git
[submodule "localelpa/preview-org-html-mode"]
	path = localelpa/preview-org-html-mode
	url = git@github.com:jakebox/preview-org-html-mode.git
[submodule "localelpa/modus-themes"]
	path = localelpa/modus-themes
	url = git@github.com:protesilaos/modus-themes.git
[submodule "localelpa/org-modern-indent"]
	path = localelpa/org-modern-indent
	url = https://github.com/jdtsmith/org-modern-indent.git
