[submodule "lisp/angularjs-mode"]
	path = lisp/angularjs-mode
	url = git@github.com:rudolfolah/angularjs-mode.git
[submodule "lisp/manage-minor-mode"]
	path = lisp/manage-minor-mode
	url = git@github.com:ShingoFukuyama/manage-minor-mode.git
[submodule "lisp/emacs-libvterm"]
	path = lisp/emacs-libvterm
	url = git@github.com:akermu/emacs-libvterm.git
[submodule "lisp/multi-libvterm"]
	path = lisp/multi-libvterm
	url = git@github.com:suonlight/multi-libvterm.git
[submodule "lisp/snails"]
	path = lisp/snails
	url = git@github.com:manateelazycat/snails.git
[submodule "lisp/fuz.el"]
	path = lisp/fuz.el
	url = git@github.com:cireu/fuz.el.git
[submodule "lisp/aweshell"]
	path = lisp/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "lisp/nox"]
	path = lisp/nox
	url = git@github.com:manateelazycat/nox.git
