.DS_Store
.cache/
.emacs.desktop
.emacs.desktop.lock
.persistent-scratch
auto-save-list
bookmarks
company-statistics-cache.el
custom.el
elpa/
emacs.el
emojis/
eshell/
ido.last
places
projectile-bookmarks.eld
projectile.cache
projects
pyim/
elpy/
recentf
smex-items
amx-items
tramp
transient/
tutorial/
url/
var/
quelpa/
.lsp-session-v1
history
network-security.data
.dap-breakpoints
.last-package-update-day
eclipse.jdt.ls/
workspace/
org-journal.cache
forge-database.sqlite
rime/
rime_bak/
nox-eclipse-jdt-cache/
request/
.org-id-locations
anaconda-mode/
prescient-items
nov-places
.vimish-fold/
straight/
ac-comphist.dat
.mc-lists.el