.DS_Store
.cache/
.emacs.desktop
.emacs.desktop.lock
auto-save-list
bookmarks
company-statistics-cache.el
custom.el
elpa/
emacs.el
emojis/
ido.last
places
projectile-bookmarks.eld
projectile.cache
pyim/
recentf
smex-items
tramp
transient/
tutorial/
url/
var/
.lsp-session-v1
history
network-security.data